name: CI

on:
  push:
    branches:
      - main
      - 'development/**'
    tags-ignore:
      - 'v*'
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  lint:
    name: Lint App
    uses: ./.github/workflows/lint.yml

  tests:
    name: Tests
    uses: ./.github/workflows/test.yml
    needs: lint
    secrets: inherit

  build:
    name: Build
    uses: ./.github/workflows/build.yml
    needs: tests
    secrets: inherit
